.container {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 30px;
    max-width: 760px;
    margin: 0 auto;
}

code {
    display: block;
    padding: 5px;
    background-color: #c7d6f2;
    color: darkblue;
}